.news--list {
    background-color: #0077b6;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.news--item {
    border: 2px solid black;
    background-color: #e9ecef;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.item--title {
    display: flex;
    justify-content: center;
}